body{
				box-sizing: border-box;
				font-family: "Times new Roman";
				font-size: 15px;
				margin: 0;
}


a{
				text-decoration: none;
}

#header-nav{
				background-color: #36f;
}

.navbar-header #logo-img{
				background: url("images/logo.png") no-repeat;
				background-color: red;
				background-image: url("");
}

.navbar-header .navbar-brand 
 h1{
				color: yellow;
				font-family: 'Aclonica', sans-serif;
				font-size: 1.5em;
 				margin: 0;
}

.navbar-header .navbar-brand p{
				margin: 0px;
				color: yellow;
}

#menuList ul li{
				text-align: center;
				margin: 5px;
				padding: 5px;
				color: yellow;
				vertical-align: migddle;
				/*background-color: blue;*/
}

.material-symbols-rounded {
				color: yellow;
			/*	background-color: red;*/
				vertical-align: middle;
				
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48
}
 

h2{
				margin-top: 10px;
				font-size: 1.5em;
				color: #36f;
				
}
legend{
				font-size: 1.3em;
				margin: 0;
				margin-top: 8px;
				
}

label.title{
	font-size: 1.1em;
	margin-top: 4px;
				margin-bottom: 3px;
	
}
.box-form-input1{
				display: block;
				width:100%;
				height: 2.7em;
				border: 1px solid rgba(75, 100, 230, .7);
				opacity: .7;
				border-radius: 7px;
				color: #000;
				padding: 10px;
				font-family: 'Abhaya Libre', serif;
				font-size: 1em;
				line-height: 2em;
				letter-spacing: 1.3px;
}

.box-form-input1:focus{
				box-shadow: 2px 2px 1px 1px rgba(75, 100, 230, .6);
				outline: none;
				opacity: 1;
}

.box-form-input2{
				display: block;
				width: 50%;
				height: 1.9em;
				background-color: rgba(75, 100, 230, .1);
				border: 1px solid rgba(75, 100, 230, .7);
				border-radius: 7px;
				margin: 5px 0;
				padding: 4px;
				text-align: center;
				font-family: 'Abhaya Libre', serif;
				font-size: 1em;
				line-height: 2em;
				letter-spacing: 1.3px;
}

.box-form-input2:focus{
				box-shadow: 2px 2px 1px 1px rgba(75, 100, 230, .6);
				outline: none;
				opacity: 1;
}

.font-for-label{
				margin: 4px;
				font-size: 104%;
				
}

#radio-btn {
				display: block;
}

#content-sub-btn{
				position: relative;
}
#submit{
				position: absolute;
				right: 0px;
}
@media (max-width:576px){
				
				.navbar-header .navbar-brand h1{
								font-size: 1.2em;
				}
				
				.navbar-header .navbar-brand p{
								font-size: .8em;
				}
}


